@font-face {
  font-family: "Rand Medium Trial";
  src: url("/fonts/Rand-Medium-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rand Bold Trial";
  src: url("/fonts/Rand-Bold-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
